:root{
    --background-color:white;
    --btn-color:#0987f2;
    --btn-text-color:white;
    --project-card-bg:black;
    --text-color:#222;
    --form-text-color:#555;
    --footer-text-color:#888;

}

[data-theme='dark']{
    --background-color:white;
    --btn-color:#fff;
    --btn-text-color:#222;
    --project-card-bg:#fff;
    --text-color:#fff;
    --form-text-color:#fff;
    --footer-text-color:#bbb;

}
body{
    background-color: var(--background-color);
    display: flex;
}